@model IEnumerable<WebApplicationMVC.models1.clientes>

@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/jquery.dataTables.min.css' />*@



@*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
*@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cliente</title>
</head>

<body>
    <p>
        @Html.ActionLink("Create nuevo cliente", "Agregar")
    </p>
    <table class="table table-bordered table-striped" id="tblexample">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AliasCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fonoCliente)
            </th>
            <th>Operaciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombrecopleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AliasCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idPais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fonoCliente)
                </td>
                <td>
                    <a id="lnkImprimirRepImpresiones" type="submit" href="@Url.Action("Editar", "cliente", new { id = item.IdCliente })" class="btn btn-success"><i class="icon-bar"></i>&nbsp;Edit</a>
                    <a id="lnkImprimirRepImpresiones" type="submit" href="@Url.Action("Detalle", "cliente", new { id = item.IdCliente })" class="btn btn-warning"><i class="icon-prev"></i>&nbsp;Ver</a>
                    <a id="eliminar" type="submit" href="@Url.Action("Eliminar", "cliente", new { id = item.IdCliente })" class="btn btn-danger eliminar"><i class="icon-next eliminar"></i>&nbsp;Del</a>

                    @*@Html.ActionLink("Editar cliente.", "Editar", new { id = item.IdCliente }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>

            </tr>
        }

    </table>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped" id="tblStudent">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Location</th>
                        <th scope="col">Age</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Salary</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="container">
        <br />
        <div style="width:90%; margin:0 auto;">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="800" cellspacing="0">
                <thead>
                    <tr>
                        <th>idcliente</th>
                        <th>Namecliente</th>
                        <th>alias</th>
                        <th>direccion</th>
                        <th>pais</th>
                        <th>Phoneno</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div style="width:400px; margin:0 auto">
        <table id="tbprojectmanager" class="display" cellspacing="0" data-page-length='5'>
            <thead>
                <tr>
                    <th>idcliente</th>
                    <th>Namecliente</th>
                    <th>alias</th>
                    <th>direccion</th>
                    <th>pais</th>
                    <th>Phoneno</th>
                    @*<th>Edit</th>
                        <th>Delete</th>*@
                </tr>
            </thead>
        </table>
    </div>

</body>

</html>
@section scripts {
   <script>

       $(".eliminar").click(function (event) {
           if (!confirm("desea eliminar realmente ?")) {
               event.preventDefault();

           }
       })
             
    </script>
}
<script type="text/javascript">
    //alert("se elimino correctamente");
    //$(document).ready(function () {
    //    $("#eliminar").click(function () {
    //        if (confirm('Are you sure to hide')) {
    //            alert("eliminado");            }
    //    });
    //});
   

    //$(".eliminar").click(function () {
    //    var bool = confirm("Seguro de eliminar el dato?");
    //    if (bool) {
    //        alert("se elimino correctamente");
    //    } else {
    //        alert("cancelo la solicitud");
    //    }
    //});

    //$(document).ready(function () {

    //    $("#tbprojectmanager").DataTable({
    //        "ajax": {
    //            "url": "Cliente/getProjectManagers",
    //            "tye": "POST",
    //            "datatype": "json",
    //            "processing": true, // for show progress bar
    //            "serverSide": true, // for process server side
    //        },
    //        "columns": [
    //            //{ "data": "Name", "autowidth": true },
    //            { "data": "IdCliente", "autowidth": true },
    //            { "data": "Nombrecopleto", "autowidth": true },
    //            { "data": "AliasCliente", "autowidth": true },
    //            { "data": "DirCliente", "autowidth": true },
    //            { "data": "Pais", "autowidth": true },
    //            { "data": "fonoCliente", "autowidth": true }
    //        ]

    //    });

    //});

</script>

@*<script>



        $(document).ready(function() {
            $("#example").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Clinte/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [

                    {"data": "IdCliente", "name": "CustomerID", "autoWidth": true },
                    {"data": "Nombrecopleto", "name": "Name", "autoWidth": true },
                    {"data": "AliasCliente", "name": "Address", "autoWidth": true },
                    {"data": "DirCliente", "name": "Country", "autoWidth": true },
                    {"data": "Pais", "name": "City", "autoWidth": true },
                    {"data": "fonoCliente", "name": "Phoneno", "autoWidth": true },
                    {
                        "render": function(data, type, full, meta) { return '<a class="btn btn-info" href="/DemoGrid/Edit/' + full.CustomerID + '">Edit</a>'; }
                    },
                    {
                        data: null,
                        render: function(data, type, row) {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
                        }
                    },
                ]

            });
        });


    function DeleteData(CustomerID) {
        if (confirm("Are you sure you want to delete ...?")) {
            Delete(CustomerID);
        } else {
            return false;
        }
    }


    function Delete(CustomerID) {
        var url = '@Url.Content("~/")' + "DemoGrid/Delete";

        $.post(url, { ID: CustomerID }, function(data) {
            if (data) {
                oTable = $('#example').DataTable();
                oTable.draw();
            } else {
                alert("Something Went Wrong!");
            }
        });
    }

    </script>*@ 